body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: linear-gradient(#dbedff 10%, #ffffff 45%, #ffffff 45%);
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.text-bold {
  font-weight: 600;
}
nav {
  color: rgba(255, 255, 255, 0.75);
  height: 54px;
}
nav .navbar-brand {
  padding: 10px 15px;
}
nav .navtop {
  margin-top: 12px;
}
nav .navbar-form {
  width: 300px;
  padding: 0;
  margin-top: 12px;
}
nav .navbar-form .form-group {
  width: 100%;
}
nav .navbar-form .form-group .form-control {
  width: 100%;
  height: 30px;
  background-color: #3f4448;
  color: white;
  border: none;
  font-size: 10px;
  font-weight: 600;
}
nav .navbar-nav li {
  font-weight: 600;
}
nav .navbar-nav li a {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75) !important;
}
nav .navbar-nav li a span {
  margin-left: 6px;
}
nav .navbar-nav li a .headerwid {
  width: 20px;
  height: 20px;
}
nav .navbar-nav .dropdown-menu {
  font-weight: 400 ;
  top: 90%;
  left: auto;
  right: 0;
  z-index: 10;
  border-radius: 5px;
}
nav .navbar-nav .dropdown-menu img {
  position: absolute;
  top: -8px;
  right: 12px;
}
nav .navbar-nav .dropdown-menu li {
  font-weight: 400;
}
nav .navbar-nav .dropdown-menu li a {
  color: #24292e !important;
  font-weight: 400;
}
.learngit {
  height: 320px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learngit .learnwrap {
  width: 608px;
  height: 204px;
  margin-top: 59px;
}
.learngit .learnwrap h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
.learngit .learnwrap p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.learngit .closelearn {
  width: 28px;
  height: 28px;
  border: 1px solid #c9dbd4;
  border-radius: 50%;
  color: #586161;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.learngit .learnbtn {
  width: 100%;
  margin-top: 28px;
}
.learngit .learnbtn .btn {
  display: inline-block;
  width: 110px;
  height: 20px;
  text-align: center;
  border: 1px solid #d1d5da;
  background: #f6f8fa;
  border-radius: 5px;
  padding: 8px 45px;
  font-size: 16px;
  box-sizing: content-box;
  font-weight: 600;
  color: #2b292e;
  cursor: pointer;
  text-decoration: none;
}
.learngit .learnbtn .btn:hover {
  background: #eceef0;
}
.learngit .learnbtn .learnbtnL {
  display: inline-block;
  width: 110px;
  height: 20px;
  text-align: center;
  border: 1px solid #d1d5da;
  background: #f6f8fa;
  border-radius: 5px;
  padding: 8px 45px;
  font-size: 16px;
  box-sizing: content-box;
  font-weight: 600;
  color: #2b292e;
  cursor: pointer;
  text-decoration: none;
  margin-left: 86px;
}
.learngit .learnbtn .learnbtnL:hover {
  background: #eceef0;
}
.learngit .learnbtn .learnbtnR {
  display: inline-block;
  width: 110px;
  height: 20px;
  text-align: center;
  border: 1px solid #d1d5da;
  background: #f6f8fa;
  border-radius: 5px;
  padding: 8px 45px;
  font-size: 16px;
  box-sizing: content-box;
  font-weight: 600;
  color: #2b292e;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
}
.learngit .learnbtn .learnbtnR:hover {
  background: #eceef0;
}
.learngit .learnbtn .active {
  background: #2ebb4e;
  border: 1px solid #2fac4d;
  color: #ffffff;
}
.learngit .learnbtn .active:hover {
  background: #24b144;
}
.content .borderbottom {
  border-bottom: 1px solid #eff3f8;
  padding-bottom: 60px;
}
.content .col-md-8 .nav-tabs {
  margin-bottom: 24px;
}
.content .col-md-8 .nav-tabs li a {
  color: #565b60;
}
.content .col-md-8 .nav-tabs li a:hover {
  color: #24292e;
  background-color: #fff;
  border-color: #fff #fff #ddd;
}
.content .col-md-8 .nav-tabs li.active a {
  color: #24292e;
}
.content .col-md-8 .nav-tabs li.active a:hover {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.content .col-md-8 .explore {
  border: 2px dashed #babbbd;
  width: 100%;
  height: 232px;
  border-radius: 5px;
  padding: 30px;
}
.content .col-md-8 .explore h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.content .col-md-8 .explore p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.5;
}
.content .col-md-8 .explore a.btn {
  color: #0366d6;
  font-weight: 600;
}
.content .col-md-8 .explore a.btn:hover {
  color: #fff;
  background-color: #0366d6;
}
.content .col-md-4 .notes .message {
  min-height: 56px;
  border: 1px solid #0366d6;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.content .col-md-4 .notes .message h3 {
  flex: 1;
  font-size: 14px;
  margin: 1px 20px 3px 8px;
}
.content .col-md-4 .notes .new span a {
  font-size: 12px;
}
.content .col-md-4 .box-group {
  border: 1px solid #d1d5da;
  border-radius: 6px;
  margin-top: 10px;
}
.content .col-md-4 .box-group .header {
  background: #f6f8fa;
  border-radius: 6px 6px 0 0;
}
.content .col-md-4 .box-group .header .create {
  padding: 0 10px;
  border-bottom: 1px solid #d1d5da;
}
.content .col-md-4 .box-group .header .create h3 {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}
.content .col-md-4 .box-group .header .create h3 span {
  background: #93979c;
  border-radius: 40%;
  color: white;
  padding: 0 5px;
}
.content .col-md-4 .box-group .header .create .boxbtn {
  position: relative;
  float: right;
  display: inline-block;
  width: 105;
  height: 28px;
  background: #31c753;
  border: 1px solid #2fac4d;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 500;
}
.content .col-md-4 .box-group .header .sel {
  border-bottom: 1px solid #d1d5da;
}
.content .col-md-4 .box-group .header .sel input {
  width: 290px;
  height: 28px;
  border: 1px solid #dde1e6;
  margin: 10px 10px 5px;
  text-indent: 1em;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
}
.content .col-md-4 .box-group .header .sel input::-webkit-input-placeholder {
  color: #dbdfe4;
}
.content .col-md-4 .box-group .header .sel input:focus {
  border: 1px solid #0366d6;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(3, 102, 214, 0.3);
}
.content .col-md-4 .box-group .header .sel .selpage {
  padding: 0 24px;
}
.content .col-md-4 .box-group .header .sel .selpage li {
  list-style: none;
  float: left;
  margin-left: 6px;
}
.content .col-md-4 .box-group .header .sel .selpage li.active a {
  border-bottom: 2px solid #e36209;
}
.content .col-md-4 .box-group .header .sel .selpage li a {
  display: inline-block;
  padding: 8px 6px;
  font-size: 12px;
  color: #586069;
}
.content .col-md-4 .box-group .box-inner ul {
  padding: 0;
  margin: 0;
}
.content .col-md-4 .box-group .box-inner ul li {
  list-style: none;
  border-bottom: 1px solid #d1d5da;
  padding: 8px 10px;
}
.content .col-md-4 .box-group .box-inner ul li strong {
  margin-left: 8px;
  font-weight: 600;
}
.content .col-md-4 .box-group .box-footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #0366d6;
  background: #f6f8fa;
}
.footer {
  display: flex;
  height: 104px;
  line-height: 104px;
}
.footer .LinkL {
  flex: 1;
}
.footer .LinkL li {
  float: left;
  padding: 0 8px;
  font-size: 12px;
}
.footer .logo {
  flex: 0 0 20%;
  text-align: center;
}
.footer .LinkR {
  flex: 1;
}
.footer .LinkR li {
  float: right;
  padding: 0 8px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .container {
    width: 980px;
    padding: 0 16px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
